<div class="container" ng-controller="pageCtrl" ng-init="initShow()" ng-cloak>
  <div class="row">
    <div class="col-sm-6 dish">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#" class="dish-photo">
            <img src="<%= @dish.photo %>">
          </a>
          <div class="panel-info">
            <h3><%= @dish.store_name %></h3>
<!--
            <h5>Address</h5>
            <div class="restaurant-map">
              embed map here
            </div>
-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default" ng-controller="dishCtrl" ng-init="init(dishes[0])">
        <div class="panel-body">
          <div class="panel-info">
            <a href="/user/<%= @dish.user.id %>"><h4>
              <img src="<%= @dish.user.avatar_url %>" alt="<%= @dish.user.name %>" class="img-circle" width="40" height="40">
              <%= @dish.user.name %>
            </h4></a>
            <p class="dish-description">
              <%= @dish.tag_view.html_safe %>
            <p>
            <p class="dish-description">
              <%= @dish.description %>
            <p>
            <div class="dish-interaction">
              <button type="button" class="btn btn-default btn-sm" ng-click="like_toggle()"><i class="fa {{like_status.liked ? 'fa-heart' : 'fa-heart-o'}}"></i>
                {{like_status.likes}}
              </button>
              <button class="btn btn-defaut btn-sm" am-time-ago="dish.created_at" disabled="disabled"></button>

              <button type="button" class="btn btn-default btn-sm pull-right" ng-click="openManageCollections(dish)">收藏至 <span class="caret"></span></button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default dish-comment" ng-controller="commentDishCtrl">
        <div class="panel-heading">即時討論 (Live!)</div>
        <div class="panel-body">
          <div ng-repeat="comment in comments" ng-class="'slide-left'">
            <div class="comment">
              <h5 class="pull-left">
                <img ng-src="{{comment.user.avatar_url}}" alt="{{comment.user.name}}" class="img-circle" width="30" height="30">
                {{comment.user.name}}
              </h5>
              <p class="pull-left">
                {{comment.body}}
              </p>
              <p class="pull-right" am-time-ago="comment.created_at"></p>
            </div>
          </div>
          <div class="text-center" ng-if="!loaded">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="留言..." ng-model="model.comment">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="submitComment()">送出留言</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'manage_collections_modal' %>

<script>
  var CurrentUser = <%= current_user.get_object.to_json.html_safe %>;
  var Dish = <%= @dish.get_object(current_user).to_json.html_safe %>;
  var ChatCluster = <%= @cluster.to_json.html_safe %>;
  var Collections = <%= (current_user ? current_user.collections.map {|c| c.get_object} : {}).to_json.html_safe %>;
</script>
